# This is a minimal Nginx config to demonstrate load balancing

events {}

http {
    upstream backend {
        # Load balancing happens here. This section tells Nginx to round-robin requests between the two web servers.
        server {{ hostvars['web1']['ansible_host'] }};
        server {{ hostvars['web2']['ansible_host'] }};
    }

    server {
        listen 80;

        location / {
            proxy_pass http://backend;
        }
    }
}

